# node / builds
**/node_modules/
**/dist/
**/.angular/
**/.cache/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
!.vscode/settings.json

# Nx
.nx/
tmp/

# Obsidian
docs/.obsidian/
